<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>Vianočný stromček</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</head>

	<body>
		<img style="position: absolute; left:225px; top:0px; z-index:-1;"src="../img/bg3.png">
	
		
		


		<div class="mainText1">	
				{% if p.sex=='m' %}Ahoj{% else %}Ahoj{% endif %} {{p.firstname}} :)
			
		</div>		
		<div class="mainText2">			
				<font color="white">...Brand...</font> Ti praje bezstarostné Vianoce!
		</div>
		<div class="mainText3">					
				Aby si videl{% if p.sex=='f' %}a{% endif %}, že to myslíme vážne, <!--postaráme sa o to, aby si naozaj mal{% if p.sex=='f' %}a{% endif %} o jednu starosť menej!-->
				vyexpedovali sme pre Teba voňavú vianočnú jedličku, ktorú Ti doručíme priamo do obývačky!				
		</div>
		<div class="mainText4">			
				A potom si už len užívaj bezstarostné Vianoce a začiatok nového roka!<br>
				Brand Tím
		</div>
		
		<div class="form">
			<form action="/" method="post">


			
					<div class="residence">
			  			<textarea maxlength="200" rows="2" cols="18" name="residence" class="validate{% if 'residence' in errorIds %} error{% endif%}">{{p.residence}}</textarea>
						<!--<label for="residence">Adresa doručenia</label>-->
					</div>
			
					<div class="phone">
						<input maxlength="200" type="text" name="phone" id="phone" value="{{p.phone}}" class="validate{% if 'phone' in errorIds %} error{% endif%}"/>
						<!--<label for="phone">Telefónne číslo</label>-->
					</div>
					
					<div class="date">
						<select id="date" name="date" class="validate {% if 'date' in errorIds %} error{% endif%}">
							<option value="" disabled="disabled" selected="selected">Vyber si deň</option>
							<option value="piatok" {% if p.date == 'piatok' %} selected="selected" {% endif %}>Piatok</option>
							<option value="sobota" {% if p.date == 'sobota' %} selected="selected" {% endif %}>Sobota</option>
						</select>
						<!--<label for="date">Deň doručenia</label>-->
					</div>
				
					<div class="time">
						<select id="time" name="time" class="validate{% if 'time' in errorIds %} error{% endif%}">
							<option value="" disabled="disabled" selected="selected">Vyber si čas</option>
							<option value="doobeda" {% if p.time == 'doobeda' %} selected="selected" {% endif %}>Doobeda</option>
							<option value="poobede" {% if p.time == 'poobede' %} selected="selected" {% endif %}>Poobede</option>
						</select>
						<!--<label for="time">Čas doručenia</label>-->
					</div>
					
				<div class="errorMsg">
					{% for error in errors %}
					{{error}}
					<br/>
					{% endfor %}
				</div>
				
		

					<div>
						<input class="submit" type="submit" value="Nahraj údaje"/>
	

					</div>
					
				<!--	<div class="title">
						<h1>PF 2014</h1>
						<div class="borderLine"></div>
				</div>-->
					
					<div class="other">
						<input maxlength="200" type="hidden" name="firstname" value="{{p.firstname}}"/>
						<input maxlength="200" type="hidden" name="lastname" value="{{p.lastname}}"/>
						<input maxlength="200" type="hidden" name="sex" value="{{p.sex}}"/>
					</div>	
	 		</form>
  		</div>
  		
  		<script>
	        var isValid = function( control )
	        {
	        	if ( $(control).attr('id') == "phone" )
				{
					return /^[\+\\\-/0-9 ]+$/.test($(control).val());
				}
				else
				{
					return $(control).val()
				}
	        }
	        
	        var onLostFocus = function( control ) 
			{  
				if ( isValid(control) )
				{
					$(control).removeClass("error");
					$(control).addClass("correct");
				}
				else
				{
					$(control).removeClass("correct");
					$(control).addClass("error");
				}				
			};
			
			$(".validate").each(function(){
  				onLostFocus( this );    
			}).on("input change", function(){
	        	onLostFocus( this );
	        });
	      
	    </script>
  </body>
</html>
{% endautoescape %}