body
{
	@font-face
 	{
		font-family: PF Din Text Cond Pro X Thin;
		src: url('../fonts/pfdin.ttf');
 	} 

	font-family: PF Din Text Cond Pro X Thin, Helvetica, sans-serif;
	/*background-image: url('../img/bg.png');*/
	background-repeat:no-repeat;
	background-position:center top;
	background-color:#FFFFFF;
	margin: 0px;
}


h1
{
	text-align:center;
	font-family: PF Din Text Cond Pro X Thin, Tahoma, sans-serif;
	font-size: 50px;
	color: #853200;
}

.borderLine 
{
	padding-top: 0px;
    width: 25%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #853200;
}

div.title
{ 
	position: relative;
	margin-top:0px;
	padding-top: 0px;
	width:300px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

div.mainText1
{
	position: absolute;
	left: 443px;
	top: 20px;
	color: #853200;
	background: transparent;
	font-family: PF Din Text Cond Pro X Thin;
	font-size: 25px;
	width:130px; 
	margin: auto;
	text-align: left;
	padding-top: 10px;
	
}

div.mainText2
{
	position: absolute;
	left: 597px;
	top: 20px;
	z-index: -2;
	color: #853200;
	background: transparent;
	font-family: PF Din Text Cond Pro X Thin;
	font-size: 25px;
	width: 130px; 
	margin: auto;
	text-align: left;
	padding-top: 10px;
}

div.mainText3
{
	position: absolute;
	left: 755px;
	top: 20px;
	color: #853200;
	background: transparent;
	font-family: PF Din Text Cond Pro X Thin;
	font-size: 25px;
	width:130px;
	margin: auto;
	text-align: left;
	padding-top: 10px;
}

div.mainText4
{
	position: absolute;
	left: 400px;
	top: 970px;
	color: #853200;
	background: transparent;
	font-family: PF Din Text Cond Pro X Thin;
	font-size: 25px;
	width:400px;
	margin: auto;
	text-align: center;
	padding-top: 10px;
}

div.residence
{
	position: absolute;
	left: 470px;
	top: 413px;
}

div.phone
{
	position: absolute;
	left: 782px;
	top: 560px;
}

div.date
{
	position: absolute;
	left: 320px;
	top: 710px;
}

div.time
{
	position: absolute;
	left: 635px;
	top: 838px;
}

/*error styles input, select and radio boxes */ 

textarea.error,
input.error
{
	border: none;
	
}

select.error
{
	border: none;
}

.correct
{
	border: none;
}





/* text inputs */
input, textarea {   
    margin: 15px;
    padding: 4px;    
    text-align:center;
    font: bold 20px/100% PF Din Text Cond Pro X Thin, Tahoma, sans-serif;  
    width: 190px;  
    height: 40px;
    background: transparent;
    border: none;
    color: white;
  
  
    /*background: #FFFFFF url('../img/buttonBg.png');  
    background-size: 100%;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #BEBEBE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #BEBEBE 1px, #FFFFFF 25px);  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;        
  */
	-webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    
}  


textarea 
{   

    width: 190px;  
    height: 40px;
    max-width: 190px;
    max-height: 40px;  
    
}  
    
              
                                   
input:hover, textarea:hover,  
input:focus, textarea:focus, 
select:hover, select:focus
{   
	border: solid 1px white;
	outline: none;
    /*box-shadow: 0px 0px 3pt 2pt #5B8C0D;
	-moz-box-shadow: 0px 0px 3pt 2pt #5B8C0D;
    -ebkit-box-shadow: 0px 0px 3pt 2pt #5B8C0D;*/     
}
    


select
{	
	width: 190px;  
    height: 40px;
    margin: 15px;
    background: transparent;
   	border: none;
	text-align: center;
	font: 25px/100% PF Din Text Cond Pro X Thin, Tahoma, sans-serif; 
	color: white;
	-webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;  
}


/*input.startbutton
{
   
  display: block; 
  margin: auto; 
  width:80px;
  height:30px;
  padding: 0px;
  font-size: 14px;
  background: black;
  border: solid 3px #D6944B;
  color: #D6944B;
  font-weight: bold;
  
   
    padding: 4px;  
    border: solid 1px #D6944B;  
    outline: 0;  
    background: #FFFFFF url('../images/bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#D6944B), color-stop(4%, #8F6332), to(#543A1D));  
    background: -moz-linear-gradient(top, #D6944B, #8F6332 1px, #543A1D 25px);
    
     
    box-shadow: rgba(0,0,255, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,255, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,255, 0.1) 0px 0px 8px;  
 
}

input.startbutton:hover,  
input.startbutton:focus 
{   
    border-color: #e6be93;     
}*/  
  
    

  
input.submit 
{  
	position: absolute;
	left: 320px;
	top: 890px;
    padding: 4px;    
    text-align:center;
    font: 25px/100% PF Din Text Cond Pro X Thin, Tahoma, sans-serif;  
    width: 200px;  
    height: 50px;
    background: transparent;
    border: solid 1px; #853200;
    color: #853200;

} 


.submit:hoover,
.submit:focus
{
	border: solid 1px #C5164A;
	color: #C5164A;
	outline: none;	
}





div.form
{
	margin-top: 0px;
	padding: 0px;
	width: 480px;
	height: 760px;
	margin-left: auto ;
	margin-right: auto ;
}



.errorMsg
{ 
	position: absolute;
    font-size: 11px;
    color: red ;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

div.loaderCanvas {
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	display: none;
	z-index: 9999;
	cursor: wait;	
}

.loader {
	position: fixed;
	margin-top: -120px;
	margin-left: -250px;
	left: 50%;
	top: 50%;
	cursor: wait;	
}

.restext h4 {
    margin-top: 0px;
    margin-bottom: 8px;
}