body
{
	@font-face
 	{
		font-family: boton;
		src: url('../../fonts/boton.otf'),
 	} 

	font-family: boton, Tahoma, sans-serif;
	background-image: url('../../img/tree.png');
	background-repeat:no-repeat;
	background-position:center top;
	background-color:#FFFFFF;
	margin: 0px;
}


h1
{
	font-size: 80px;
	color: red;
	padding-bottom:0px;
	margin-bottom:0px;
}

.borderLine 
{
	padding-top: 0px;
    width: 25%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid rgb(230, 60, 60);
}

div.title
{
	background-color: white; 
	height: 300px;
	text-align: center;
	padding-top: 30px;
}


/* error styles input, select and radio boxes */
textarea.error,
input.error
{
	outline: solid 1px red;
}

select.error
{
	outline: solid 1px red;   
}

.correct
{
	outline: solid 1px green; 
}





/* text inputs */
input, textarea {   
    display: inline;
    position: relative;
    padding: 4px;  
    outline: 0;  
    font: normal 20px/100% Verdana, Tahoma, sans-serif;  
    width: 400px;  
    height: 100px;
    background-color: white;
    border: solid 3px black;
    color: black;
  
  /*
    background: #FFFFFF url('../images/bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #BEBEBE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #BEBEBE 1px, #FFFFFF 25px);  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;        
  */
	-webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    
}  


textarea 
{   
    width: 150px;
    max-width: 150px;
    max-height: 40px;  
}  
    
              
                                   
input:hover, textarea:hover,  
input:focus, textarea:focus {   
    border-color: blue;     
}
    


select
{
   border: solid 3px black;
   background-color: white;
   color: black; 
}


input.startbutton
{
   
  display: block; 
  margin: auto; 
  width:80px;
  height:30px;
  padding: 0px;
  font-size: 14px;
  background: black;
  border: solid 3px #D6944B;
  color: #D6944B;
  font-weight: bold;
  
   /*
    padding: 4px;  
    border: solid 1px #D6944B;  
    outline: 0;  
    background: #FFFFFF url('../images/bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#D6944B), color-stop(4%, #8F6332), to(#543A1D));  
    background: -moz-linear-gradient(top, #D6944B, #8F6332 1px, #543A1D 25px);
    */
     
    box-shadow: rgba(0,0,255, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,255, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,255, 0.1) 0px 0px 8px;  
 
}

input.startbutton:hover,  
input.startbutton:focus 
{   
    border-color: #e6be93;     
}  

.form label {   
    margin-left: 5px;   
    color:  black;  
    font-size: 30px; 
    }  
    
.ankete label {   
    margin-left: 5px;   
    color:  black;  
    font-size: 30px; 
    }    
  
/*.submit input {  
    width: auto;  
    padding: 9px 15px;  
    background: #617798;   
    font-size: 14px;  
    color: #FFFFFF;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    } 
  */







div.form
{
	margin-top: 0px;
	padding: 0px;
	width: 480px;
	height: 760px;
	margin-left: auto ;
	margin-right: auto ;
}


	





 
.errorMsg
{ 
    font-size: 11px;
    color: red ;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

div.loaderCanvas {
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	display: none;
	z-index: 9999;
	cursor: wait;	
}

.loader {
	position: fixed;
	margin-top: -120px;
	margin-left: -250px;
	left: 50%;
	top: 50%;
	cursor: wait;	
}

.restext h4 {
    margin-top: 0px;
    margin-bottom: 8px;
}