body
{
	@font-face
 	{
		font-family: boton;
		src: url('../fonts/boton.otf'),
 	} 

	font-family: boton, Tahoma, sans-serif;
	background-image: url('../img/bg.png');
	background-repeat:no-repeat;
	background-position:center top;
	background-color:#FFFFFF;
	margin: 0px;
}


h1
{
	font-family: boton, Tahoma, sans-serif;
	font-size: 50px;
	color: #9F1600;
	padding-bottom:0px;
	margin-bottom:0px;
}

.borderLine 
{
	padding-top: 0px;
    width: 25%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #9F1600;
}

div.title
{
	 
	margin-right: 200px;
	text-align: center;
	padding-top: 10px;
}

div.mainText
{
	font-family: helvetica;
	width: 400px; 
	margin: auto;
	text-align: left;
	padding-top: 10px;
}


/* error styles input, select and radio boxes */
textarea.error,
input.error
{
	box-shadow: 0px 0px 3pt 2pt red;
	-moz-box-shadow: 0px 0px 3pt 2pt red;
    -webkit-box-shadow: 0px 0px 3pt 2pt red;
	
}

select.error
{
	box-shadow: 0px 0px 3pt 2pt red;
	-moz-box-shadow: 0px 0px 3pt 2pt red;
    -webkit-box-shadow: 0px 0px 3pt 2pt red;
}

.correct
{
	box-shadow: 0px 0px 3pt 2pt green;
	-moz-box-shadow: 0px 0px 3pt 2pt green;
    -webkit-box-shadow: 0px 0px 3pt 2pt green;
	
}





/* text inputs */
input, textarea {   
    display: inline;
    position: relative;
    margin: 15px;
    padding: 4px;  
    outline: 0;  
    font: normal 20px/100% Verdana, Tahoma, sans-serif;  
    width: 300px;  
    height: 80px;
    background-color: white;
    border: solid 3px #115404;
    color: #227400;
  
  /*
    background: #FFFFFF url('../images/bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #BEBEBE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #BEBEBE 1px, #FFFFFF 25px);  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;        
  */
	-webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    
}  


textarea 
{   

    width: 300px;  
    height: 80px;
    max-width: 300px;
    max-height: 80px;  
}  
    
              
                                   
input:hover, textarea:hover,  
input:focus, textarea:focus {   
    box-shadow: 0px 0px 3pt 2pt #5B8C0D;
	-moz-box-shadow: 0px 0px 3pt 2pt #5B8C0;
    -webkit-box-shadow: 0px 0px 3pt 2pt #5B8C0;     
}
    


select
{	
	width: 313px;  
    height: 80px;
    margin: 15px;
	border: solid 3px #115404;
	background-color: white;
	font: normal 20px/100% Verdana, Tahoma, sans-serif; 
	color: #227400;
	-webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;  
}


/*input.startbutton
{
   
  display: block; 
  margin: auto; 
  width:80px;
  height:30px;
  padding: 0px;
  font-size: 14px;
  background: black;
  border: solid 3px #D6944B;
  color: #D6944B;
  font-weight: bold;
  
   
    padding: 4px;  
    border: solid 1px #D6944B;  
    outline: 0;  
    background: #FFFFFF url('../images/bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#D6944B), color-stop(4%, #8F6332), to(#543A1D));  
    background: -moz-linear-gradient(top, #D6944B, #8F6332 1px, #543A1D 25px);
    
     
    box-shadow: rgba(0,0,255, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,255, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,255, 0.1) 0px 0px 8px;  
 
}

input.startbutton:hover,  
input.startbutton:focus 
{   
    border-color: #e6be93;     
}*/  

.form label {   
    margin-left: 5px;   
    color:  #9F1600;  
    font-size: 16px; 
    }  
    

  
/*.submit input {  
    width: auto;  
    padding: 9px 15px;  
    background: #617798;   
    font-size: 14px;  
    color: #FFFFFF;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    } 
  */







div.form
{
	margin-top: 0px;
	padding: 0px;
	width: 480px;
	height: 760px;
	margin-left: auto ;
	margin-right: auto ;
}



.errorMsg
{ 
    font-size: 11px;
    color: red ;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

div.loaderCanvas {
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	display: none;
	z-index: 9999;
	cursor: wait;	
}

.loader {
	position: fixed;
	margin-top: -120px;
	margin-left: -250px;
	left: 50%;
	top: 50%;
	cursor: wait;	
}

.restext h4 {
    margin-top: 0px;
    margin-bottom: 8px;
}